<div class="container mt-5">
    <h1>Welcome to the Home Page!</h1>
    <p>This is the home page of our application.</p>
    <a href="/contact" class="btn btn-primary me-2">Contact</a>
    <a href="/books" class="btn btn-primary">Daftar Buku</a>
</div>